<div class="footer">
        <div class="footer-inner">
          <div class="footer-content">
            <span class="bigger-120">
              2014-<?php echo date('Y');?> |   
              <span class="red bolder">IFMA Campus S&atilde;o Lu&iacute;s - Monte Castelo</span>
            </span>
            &nbsp; &nbsp;            
          </div>
        </div>
      </div>

      <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
      </a>
    </div><!-- /.main-container -->

    <!-- basic scripts -->

    <!--[if !IE]> -->
    <script src="../static/layout/assets/js/jquery-2.1.4.min.js"></script>
    
    <script src="../static/layout/assets/js/jquery-ui.min.js"></script>
    
    <script src="../static/layout/assets/js/jquery-ui.custom.min.js"></script>

    <!-- <![endif]-->

    <!--[if IE]>
<script src="../static/layout/assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
    <script type="text/javascript">
      if('ontouchstart' in document.documentElement) document.write("<script src='../static/layout/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>
    <script src="../static/layout/assets/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->

    <!-- ace scripts -->
    <script src="../static/layout/assets/js/ace-elements.min.js"></script>
    <script src="../static/layout/assets/js/ace.min.js"></script>


  </body>
</html>

